<div class="container-fluid dashboard-container">
  <div class="cards-row-flex pt-2">
    <div class="cards-column-flex-triple">
      <div class="cards-row-flex card-flex-backgrounds column-flex-direction">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="line-info-header line-info-aligments">
            Flexbox
          </h1>
        </div>
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="line-info-header line-info-aligments">
            Responsive
          </h1>
        </div>
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="line-info-header line-info-aligments">
            Dashboard
          </h1>
        </div>
      </div>
    </div>

    <div class="cards-column-flex-single">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-number-timer">00:00:00</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-row-flex">
    <div class="cards-column-flex-triple">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-title-metric">Text</h1>
        </div>
      </div>
    </div>

    <div class="cards-column-flex-single">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-number-metric">12</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-row-flex">
    <div class="cards-column-flex-triple">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-title-metric">Text</h1>
        </div>
      </div>
    </div>

    <div class="cards-column-flex-single">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-number-metric expectative-color">
            12
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-row-flex">
    <div class="cards-column-flex-triple">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-title-metric">Text</h1>
        </div>
      </div>
    </div>

    <div class="cards-column-flex-single">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-number-metric realized-color">
            12
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-row-flex">
    <div class="cards-column-flex-triple">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-title-metric">Text</h1>
        </div>
      </div>
    </div>

    <div class="cards-column-flex-single">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-number-metric late-color">
            12
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-row-flex">
    <div class="cards-column-flex-triple">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-title-metric">Text</h1>
        </div>
      </div>
    </div>

    <div class="cards-column-flex-single">
      <div class="cards-row-flex card-flex-backgrounds">
        <div class="cards-column-flex card-flex-alignments">
          <h1 class="turn-number-timer turn-timer">12</h1>
        </div>
      </div>
    </div>
  </div>
</div>
